// style race

.list-races .infos{
	text-align:left;
}
.list-races .infos .section-info > * {
	display:inline-block;
	margin: 0px;
}
.list-races a.race-title{
	text-align:left;
	margin-bottom: 10px;
    margin-top: 10px;
}
